body {
  background-color: black;
}

h1,
h2,
h3 {
  font-family: "dancing script";
  text-align: center;
  color: white;
  font-weight: bold;
}

.hero h2 {
  font-size: 96px;
}
.hero h1 {
  padding-bottom: 40px;
}
.hero {
  background: radial-gradient(
    circle,
    rgba(0, 212, 255, 1) 0%,
    rgba(0, 0, 3, 0.8646052170868348) 0%,
    rgba(2, 0, 36, 1) 100%
  );
  text-align: center center;
  background-image: url(../images/esileht.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 500px;
  background-size: cover;
}

.btn-branding {
  background: radial-gradient(
    circle,
    rgba(0, 212, 255, 1) 0%,
    rgba(0, 0, 3, 0.6195071778711485) 0%,
    rgba(0, 0, 0, 0.6643251050420168) 100%
  );
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 20px;
}

footer .social-links a {
  text-decoration: none;
  color: white;
  margin: 0 25px;
  padding-top: 10px;
  font-size: 30px;
  background-color: black;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

footer .social-links a:hover {
  color: black;
  background-color: white;
}

 .contact-links a {
  text-decoration: none;
  color: white;
  margin: 0 25px;
  padding-top: 10px;
  font-size: 30px;
  background-color: black;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

 .contact-links a:hover {
  color: black;
  background-color: white;
}
.contact-prices {
  padding: 10px;
}
.contact-prices p {
  color: white;
  margin: 0 25px;
  padding-top: 10px;
  font-size: 30px;
  font-family: "Hubballi";
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.content-container p {
  color: white;
  margin: 0 25px;
  padding-top: 10px;
  font-size: 30px;
  font-family: "Hubballi";
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.content-container a {
  text-decoration: none;
  color: white;
}
.content-container a:hover {
  color: rgb(122, 28, 28);
}

.photos {
  padding: 50px;
}

.contact-prices p .jumestus {
  text-decoration: none;
  color: white;
}
.contact-prices p .jumestus:hover {
  color: rgb(216, 102, 197);
}

.git {
  color: aliceblue;
}

.git a {
  text-decoration: none;
  color: aliceblue;
}
.contact-prices p .mmilu {
  max-width: 150px;
  max-height: 150px;
}

.contact-links .img-fluid { 
width: auto;
max-height: fit-content;
  text-align: center;
  display: block;
  padding: 50px;
}

.contact-links {
  padding: 10px;
}

@media (max-width: 1000px) {
  .hero {
    background-size: contain;
    padding: 20px;
    text-align: center center;
      background-image: url(../images/esileht.png);
      background-repeat: no-repeat;
      background-attachment: fixed;
      
    
  }
  
  .contact-links .email2 {
    display: none;
  }
.contact-prices .img-fluid  { 
  display: none;
} 
  .contact-links .img-fluid {
    text-align: center;
    max-width: 400px;
    
  }
  .contact-prices p {
    font-size: 17px;
    text-align: left;
    padding: 0;
    margin: 0;
  }
  .content-container p {
    font-size: 20px;
  }
  .contact-prices p .mmilu {
    display: none;
  }
}
